<% if current_user.recieved_requests.any? %>
  <ul class="list-group">
    <% current_user.recieved_requests.each do |request| %>
      <% friend = request.user %>
      <li class="list-group-item">
        <%= render 'shared/pending_request', friend: friend %>
      </li>
    <% end %>
  </ul>
<% else %>
<div class="text-justify">
  You have no pending request at the moment.
  Check <%= link_to 'Find Friends', users_path %>
  page to find and add new friends.
</div>
<% end %>