<% if current_user.pending_friends.any? %>
  <ul class="list-group">
    <% current_user.pending_friends.each do |friend| %>
      <li class="list-group-item">
        <%= link_to gravatar_for(friend, size: 50), friend if current_page?(action: :index)%>
        <small>Request sent to <%= friend.full_name %></small>
        <%= render 'users/cancel_request_form', user: friend %>
      </li>
    <% end %>
  </ul>
<% end %>