<div class="col-md-6 m-auto">
  <div class="p-3 border rounded mx-2 mb-4">
    <%= render 'posts/post_form' %>
  </div>
  <h3>Feed</h3>
  <ul class="posts m-0 p-0">
    <%= render current_user.posts.feed if !current_user.posts.nil? %>
  </ul>
</div>
