// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* misc */
hr {
  margin-bottom: 0;
  width: 75%;
}

/* footer */
.page-footer {
  font-size: 14px;
}
.footer-links {
  a {
    text-decoration: none;
    margin-right: 0.5em;
  }
}

/* forms */
.field_with_errors {
  input {
    border: 1px solid red;
  }
}

/* debugging box */
.debug_dump {
  color: white;
  background: gray;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}
