<hr>
<footer class="page-footer ml-2 text-center">
<div class="footer-links">
<a href="#">Signup</a>
<a href="#">Login</a>
<a href="#">Messenger</a>
<a href="#">Facebook Lite</a>
</div>
<small> Rails Facebook created by <a href="http://github.com/jamcry" target="_blank">JamCry</a></small>
</footer>